/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif; /* tem arial? se nao vai helvetica? se nao sans-serif */
}

p {
    font-family: Georgia, "Times new Roman", serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block; /*isso tira uma margemzinha que as imagens tem embaixo e aí facilita trabalhar com elas */
    /*daí foi necessário ajustar manualmente o header que tava com 96px ficou com 92px pra ajeitar */
}

.btn {
    border: 3px solid #fec63e;
    padding: 10px 30px; /* espaçamento pro botão não ficar zoado */
    color: #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color:#fff; /* faz com que quando passe o mouse encima do texto/botao fique branco */
    border-color: 3px solid #fff;
}

.btn.btn-preto:hover { /* está falando com o botão especifico que tem o btn e o btn preto*/
    color: #000; /*ao passar o mouse no botão ele fica preto */
    border-color: #000;
}

.subtitulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; /*dar um espaçamento */
}

.subtitulo:after {/* adiciona um novo elemento CSS ao site, no caso a linhazinha branca */
    content: ""; /* antes do quote e depois do quote */
    display: block;
    width: 60px;    
    height: 3px; /* pegou esses dados vendo no photoshop..*/
    background: #000; /* dá cor ao novo elemento css*/
    margin: 8px auto; /* pra linha não colar nas outras coisas, cima baixo 10px esq dir auto */
}

.subtitulo-interno {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after {/* adiciona um novo elemento CSS ao site, no caso a linhazinha branca */
    content: ""; /* antes do quote e depois do quote */
    display: block;
    width: 60px;    
    height: 3px; /* pegou esses dados vendo no photoshop..*/
    background: #000; /* dá cor ao novo elemento css*/
    margin: 8px 0; /* pra linha não colar nas outras coisas, cima baixo 10px esq dir auto */
}

/* Header */

.header {
    position: fixed; /* para quando descer o site a barra de menu ficar colada */
    top: 0; /* para sempre ficar no topo do site */
    width: 100%; /* é pra pegar a largura do menu de ponta a ponta */
    background: #fec63e;
    padding: 15px 0; /* pra logo e texto não ficarem grudados no top */
    z-index: 10; /* faz com que o titulo fique por cima de tudo e quando for abaixar a pagina o titulo ficar preso à imagem se 
    não ele se 'descola', quando tem um elemento com position e outro tambem para ela posicionar qual irá ficar encima de qual,
    nesse caso todos esses elementos(do titulo, citacao ,etc) tem position relative e eles vem depois do menu eles estavam ficando
    por cima, e o z-index conserta isso */
}

.header_menu {
    text-align: right; /* pro texto ir pro lado direito do menu */
}

.header_menu ul li { /* pro texto do menu ficar deitado e não um encima do outro */
    display: inline-block;
    margin-left: 20px; /* pra dar espaçamento pro texto não ficar colado, nao é margin-right pra não estourar o container */
    margin-top: 20px; /* pro menu ficar um pouco abaixo do "teto", e mais ao centro da área */
}

.header_menu ul li a { /* agora tá falando com o a */
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0; /* pra aumentar a área de contato quando for clicar no texto(link) */
}

.header_menu ul li a:hover {
    color: #fff; /* pra quando passar o mouse encima do menu a cor do texto ficar branco */
}

.header_menu ul li a.menu_ativo { /* o link do menu fica branco quando mudar de pagina*/
    color: #FFF;
}

/* Introdução */

.introducao {
    width: 100%;
    height: 380px; /*é o tamanho da foto... visto no photoshop */
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover; /*cubrir largura inteira */
    margin-top: 92px; /* isso é mt importante, pois é pra essa sessão começar embaixo do header, então o header ocupa 96px*/
    text-align: center; /* alinha a sessão introdução ao centro */
    padding-top: 80px; /* pro texto do titulo não ficar colado no teto e sim no meio da sessão */
}

.introducao h1 {
    font-size: 48px; /* é o titulo */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
     max-width: 320px; /* o quote não será maior que 400px */
     margin: 0 auto; /* alinha o quote ao centro */
     margin-bottom: 40px; /* dá espaço depois do quote pro que vier depis (botão) não bugar */
     color: white;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before, .quote-externo p:after { /* adiciona um novo elemento CSS ao site, no caso a linhazinha branca */
   content: ""; /* antes do quote e depois do quote */
   display: block;
   width: 60px;
   height: 3px; /* pegou esses dados vendo no photoshop..*/
   background: #FFF; /* dá cor ao novo elemento css*/
   margin: 14px auto 10px auto; /* pra linha não colar nas outras coisas, cima baixo 10px esq dir auto */
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/*Introdução Interna*/

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    background-size: cover;
    text-align: center;
    color: #FFF;
    padding-top: 30px; /* pra alinhar o texto do sobre, pra não ficar colado nas bordas*/
}

.introducao-interna h1 {
    font-size: 36px; /* é o titulo */
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1:after { /* pseudo-elemento, é o traçozinho*/
    content: ""; /* antes do quote e depois do quote */
    display: block;
    width: 60px;
    height: 3px; /* pegou esses dados vendo no photoshop..*/
    background: #FFF; /* dá cor ao novo elemento css*/
    margin: 6px auto 10px auto; /* pra linha não colar nas outras coisas, cima baixo 10px esq dir auto */
}


/*Produtos*/
.produtos {
    padding: 60px 0; /* distancia entre da caixa de introdução e a sessão produto, então isso é muito importante*/
  }
  
  .produtos_lista li {
    background: #fec63e;
    text-align: center;
  }
  
  .produtos_lista li img {
    margin: 0 auto;
  }
  
  .produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em; /*espaçamento das letras */
    margin-top: 20px;
  }
  
  .produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
  }
  
  .produtos_lista li p {
    padding: 10px 20px 20px 20px; /*pra deixar o texto sem colar e com espaço correto*/
  }
  
  .produtos_icone {
    background: #000;
    padding: 20px;
  }

  .call {
    padding-top: 40px;
    text-align: center;
    clear: both; /*é porque está pegando outros elementos, com isso limpa o float e pega o elemento correto */
  }

  .call p {
      margin-bottom: 20px;
  }

  /*Portfólio*/

  .portfolio {
      width: 100%;
      background: #000;
      padding: 40px 0;
  }

  .portfolio .subtitulo {
      color: #fec63e;
  }
  .portfolio .subtitulo:after { /*tracinho separador*/
      background: #fec63e;
  }

  .portfolio_lista li:last-child { /*seleciona o ultimo item */
    margin-top: 20px;
  }

  .portfolio .call p {
    color: #fff;
  }

  /* Qualidade */

  .qualidade {
      padding: 60px /* é preciso seguir o padrão de espaçamento... por exemplo fui em produtos ver qual padding tá usando e é 60px*/
  }

  .qualidade:after {
      content: ""; /* todo  pseudo elemento after precisa ter um conteúdo, mesma que não tenha nada */
      width: 634px; /*  tem q ver a imagem dos tracinhos pra descobrir o width e height*/
      height: 83px;
      display: block;
      background: url("../img/linhas.png") no-repeat center;
      position: absolute;
      top: 209px; /* o position agora está relativo a esse container especifico, então ele está sendo absoluto em relação a essa container..
      por isso ele fica ali dentro, se o container não tivesse com position relative esse absolute ia fazer ir lá pra cima*/
      right: 162px;
      z-index: -1; /* pra imagem não descolar */
  }

  .qualidade img {
      margin: 0 auto;
  }

  .qualidade_lista {
      padding-top: 20px; /* dá espaçamento do texto em relação a imagem da linha */
      overflow: auto; /* como os elementos ficaram um em encima do outro isso limpa o float e resolve o problema*/
  }

  .qualidade_lista li {
      text-align: center;
      padding: 0 40px;
  }

  .qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em; /*espaçamento das letras */
    margin-top: 20px;
  }
  
  .qualidade_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto; /*espaçinho de 6 px na margem ajuda */
  }

/* Quebra */

.quebra {
    width: 100%; /* ponta a ponta da pagina*/
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
  }
  
  .quebra .quote-externo {
    max-width: 400px;
  }

  /*Footer*/
.footer {
    width: 100%;
    background: #000;
    color: #FFF;
    padding: 20px 0;
  }
  
  .footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #fec63e;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
  }
  
  .footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 6px 0 12px 0;
  }
  
  .footer_historia {
    padding-right: 40px;
  }
  
  .footer_contato ul li {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  .footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer_redes ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
    transition: all .5s ease;
  }
  
  .footer_redes ul li a:hover {
    border-color: #FFF;
  }
  
  .copy {
    width: 100%;
    background: #fec63e;
    padding: 20px 0;
  }